*/build
*.log
/core/.vs
/.vs
/core/out/build/x64-Debug
/gui/.vs
/gui/ComponentManagement/bin/Debug/net9.0
/gui/ComponentManagement/obj/Debug/net9.0
/gui/ComponentManagement/obj/Release/net9.0
/gui/ComponentManagement/obj
/gui/Logger/bin/Debug/net9.0
/gui/Logger/obj
/gui/Main/bin/Debug/net9.0
/gui/Main/obj
/gui/TcpAdapter/bin/Debug/net9.0
/gui/TcpAdapter/obj
/core/lib/cmake
/core/lib/ulibpp..MSVC19.Debug.lib
/frontend/.vs
/backend/.vs
/core/executable/sketch.cpp
/frontend/Main/Properties/launchSettings.json
/backend/CMakeSettings.json
/backend/vcpkg.json
